.cc45               { /* Common */
	font            : bold 20pt 'Times New Roman', Book, Georgia, serif;
	color           : #003333;
	text-align      : center;
	}
.cc46               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,600.00pt,0.75pt,0.00pt);
	}
.cc47               { /* Common */
	font            : 14pt 'Times New Roman', Book, Georgia, serif;
	color           : #d8f7ff;
	text-align      : center;
	padding         :   1.50pt;
	}
.cc48               { /* Common */
	font            : 14pt 'Times New Roman', Book, Georgia, serif;
	color           : #003333;
	text-align      : center;
	padding         :   1.50pt;
	}
.cc49               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc50               { /* Common */
	width           : 100%;
	height          : 100%;
	padding         :   7.50pt;
	border-width    :   0px;
	}
.cc51               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc52               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : right;
	}
.cc53               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	padding         :   1.50pt;
	}
.cc54               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc55               { /* Common */
	font            : bold 11pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #0000ff;
	}
.cc56               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
img#e55             { /* images/survey008009.jpg */
        
        position        : absolute;
	left            : 283.50pt;
	top             :   7.50pt;
	width           : 177.75pt;
	height          : 126.00pt;
	}
h1#e54              { /* CAR SURVEY */
	
        position        : absolute;
	left            : 283.50pt;
	top             : 88.00pt;
	width           : 177.75pt;
	height          :  26.25pt;
	}
span#e53            { /* images/survey008008.gif */
	background      : transparent url(images/survey008008.gif) no-repeat top left;
	position        : absolute;
	left            :  72.75pt;
	top             : 174.75pt;
	width           : 600.00pt;
	height          :   0.75pt;
	}
span#e52            { /* images/survey008007.gif */
	background      : transparent url(images/survey008007.gif) no-repeat top left;
	position        : absolute;
	left            :  72.75pt;
	top             : 207.00pt;
	width           : 600.00pt;
	height          : 345.00pt;
	}
div#e51             { /* Categories */
	position        : absolute;
	left            :  72.75pt;
	top             : 178.50pt;
	width           : 102.75pt;
	height          :  18.75pt;
	}
div#e50             { /* Car Survey */
	position        : absolute;
	left            : 184.50pt;
	top             : 178.50pt;
	width           : 102.75pt;
	height          :  18.75pt;
	}
div#e49             { /* Music Survey */
	position        : absolute;
	left            : 296.25pt;
	top             : 178.50pt;
	width           : 102.75pt;
	height          :  18.75pt;
	}
div#e48             { /* Sport Survey */
	position        : absolute;
	left            : 408.00pt;
	top             : 178.50pt;
	width           : 102.75pt;
	height          :  18.75pt;
	}
div#e47             { /* Contact Us */
	position        : absolute;
	left            : 519.75pt;
	top             : 178.50pt;
	width           : 102.75pt;
	height          :  19.50pt;
	}
span#e46            { /* images/survey008006.gif */
	
	position        : absolute;
	left            : 228.75pt;
	top             : 206.25pt;
	width           :  16.50pt;
	height          : 343.50pt;
	}
form#f45            { /* default.asp onsubmit="re... */
	position        : absolute;
	left            : 156.50pt;
	top             : 118.50pt;
	width           : 400.50pt;
	height          : 328.50pt;
	}
label#e44          { /* Personal Details */
	position        : absolute;
	left            :  74.25pt;
	top             :   0.00pt;
	width           : 191.25pt;
	height          :  12.75pt;
	}
label#e43           { /* Name */
	position        : absolute;
	left            :  92.25pt;
	top             :  18.00pt;
	width           :  48.00pt;
	height          :  12.75pt;
	}
input#e42           { /* Text Name Name  */
	position        : absolute;
	left            : 146.25pt;
	top             :  16.50pt;
	width           : 113.25pt;
	}
label#e41           { /* E-mail */
	position        : absolute;
	left            :  92.25pt;
	top             :  36.00pt;
	width           :  48.00pt;
	height          :  12.75pt;
	}
input#e40           { /* Text Email E-mail  */
	position        : absolute;
	left            : 146.25pt;
	top             :  34.50pt;
	width           : 113.25pt;
	}
label#e39           { /* Country */
	position        : absolute;
	left            :  92.25pt;
	top             :  54.00pt;
	width           :  48.00pt;
	height          :  12.75pt;
	}
select#e38          { /* Combo Box Country Countr... */
	position        : absolute;
	left            : 146.25pt;
	top             :  52.50pt;
	width           : 119.25pt;
	}
label#e37           { /* Gender */
	position        : absolute;
	left            :  69.00pt;
	top             :  72.00pt;
	width           :  71.25pt;
	height          :  14.25pt;
	}
select#e36          { /* Combo Box Sex Gender  */
	position        : absolute;
	left            : 146.25pt;
	top             :  70.50pt;
	width           :  62.25pt;
	}
label#e35           { /* Age Group */
	position        : absolute;
	left            :  63.75pt;
	top             :  90.00pt;
	width           :  76.50pt;
	height          :  14.25pt;
	}
select#e34          { /* Combo Box Age_Group Age ... */
	position        : absolute;
	left            : 146.25pt;
	top             :  88.50pt;
	width           :  69.75pt;
	}
label#e33           { /* Vehicle Details */
	position        : absolute;
	left            :  74.25pt;
	top             : 114.00pt;
	width           : 141.00pt;
	height          :  14.25pt;
	}
label#e32           { /* Type of Car */
	position        : absolute;
	left            :  57.75pt;
	top             : 132.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e31          { /* Combo Box Car_Type Type ... */
	position        : absolute;
	left            : 146.25pt;
	top             : 130.50pt;
	width           : 119.25pt;
	}
label#e30           { /* Seats */
	position        : absolute;
	left            :  57.75pt;
	top             : 150.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e29          { /* Combo Box Seats Seats  */
	position        : absolute;
	left            : 146.25pt;
	top             : 148.50pt;
	width           : 119.25pt;
	}
label#e28           { /* Doors */
	position        : absolute;
	left            :  57.75pt;
	top             : 168.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e27          { /* Combo Box Doors Doors  */
	position        : absolute;
	left            : 146.25pt;
	top             : 166.50pt;
	width           : 119.25pt;
	}
label#e26           { /* Cylinders */
	position        : absolute;
	left            :  57.75pt;
	top             : 186.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e25          { /* Combo Box Cylinders Cyli... */
	position        : absolute;
	left            : 146.25pt;
	top             : 184.50pt;
	width           : 119.25pt;
	}
label#e24           { /* Fuel */
	position        : absolute;
	left            :  57.75pt;
	top             : 204.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e23          { /* Combo Box Fuel Fuel  */
	position        : absolute;
	left            : 146.25pt;
	top             : 202.50pt;
	width           : 119.25pt;
	}
label#e22           { /* Age of Car */
	position        : absolute;
	left            :  57.75pt;
	top             : 222.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e21          { /* Combo Box Age_Of_Car Age... */
	position        : absolute;
	left            : 146.25pt;
	top             : 220.50pt;
	width           : 119.25pt;
	}
label#e20           { /* Colour */
	position        : absolute;
	left            :  57.75pt;
	top             : 240.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e19          { /* Combo Box Color Colour  */
	position        : absolute;
	left            : 146.25pt;
	top             : 238.50pt;
	width           : 119.25pt;
	}
label#e18           { /* Transmission */
	position        : absolute;
	left            :  57.75pt;
	top             : 258.00pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e17          { /* Combo Box Transmission T... */
	position        : absolute;
	left            : 146.25pt;
	top             : 256.50pt;
	width           : 119.25pt;
	}
label#e16           { /* Engine Position */
	position        : absolute;
	left            :  57.75pt;
	top             : 274.50pt;
	width           :  82.50pt;
	height          :  14.25pt;
	}
select#e15          { /* Combo Box Engine_Positio... */
	position        : absolute;
	left            : 146.25pt;
	top             : 274.50pt;
	width           : 119.25pt;
	}
input#e14           { /* Submit Send Details  */
	position        : absolute;
	left            :  60.75pt;
	top             : 298.50pt;
	width           :  90.75pt;
	}
input#e13           { /* Reset Clear Details  */
	position        : absolute;
	left            : 174.75pt;
	top             : 298.50pt;
	width           :  90.75pt;
	}
form#f12            { /* mailto:your@address.here... */
	position        : absolute;
	left            :  81.75pt;
	top             : 207.00pt;
	width           : 131.25pt;
	height          : 304.50pt;
	}
label#e11          { /* Car Survey */
	position        : absolute;
	left            :  43.50pt;
	top             :  61.50pt;
	width           : 102.00pt;
	height          :  15.75pt;
	}
label#e10           { /* Music Survey */
	position        : absolute;
	left            :  43.50pt;
	top             : 109.50pt;
	width           : 102.00pt;
	height          :  15.75pt;
	}
label#e9            { /* Sport Survey */
	position        : absolute;
	left            :  43.50pt;
	top             : 157.50pt;
	width           : 102.00pt;
	height          :  15.75pt;
	}
label#e8            { /* Contact Us */
	position        : absolute;
	left            :  43.50pt;
	top             : 205.50pt;
	width           : 102.00pt;
	height          :  15.75pt;
	}
label#e7            { /* Categories */
	position        : absolute;
	left            :  43.50pt;
	top             :  13.50pt;
	width           : 102.00pt;
	height          :  15.75pt;
	}
span#e6             { /* images/survey008005.jpg */

	position        : absolute;
	left            :   6.75pt;
	top             :   9.75pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
span#e5             { /* images/survey008004.jpg */
	
        position        : absolute;
	left            :   6.75pt;
	top             :  59.25pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
span#e4             { /* images/survey008003.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             : 101.25pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
span#e3             { /* images/survey008002.jpg */
	position        : absolute;
	left            :   6.75pt;
	top             : 152.25pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
span#e2             { /* images/survey008001.jpg */
	
        position        : absolute;
	left            :   6.75pt;
	top             : 197.25pt;
	width           :  22.50pt;
	height          :  22.50pt;
	}
div#e1              { /* Log Out! */
        	
        position        : absolute;
    	left            : 129.00pt;
	top             : 531.75pt;
	width           :  48.75pt;
	height          :  16.50pt;
	}
div#page            { /* Page Holder */

	position        : relative;
        z-index:1;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
div#page1            { /* Page Holder */
	background-color:whitesmoke;/*Background color*/
        opacity: 0.5;/*Bacground opacity*/
	position        : absolute ;
        z-index:-1;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : 10%;
        margin-right    : 10%;
	}
body                { /* Page Body */
	background-image:url(images/car.jpg);
        text-align      : center;
	}



/*--- EndOfFile ---*/
