.heading1   { /* Heading */
    font            : bold 50pt 'MS Sans Serif';
    color           : #A0A0A0;
    text-align      : center;
    
}



.cc01               { /* Common */
	border          :   0.00pt none #000000;
	clip            : rect(0.00pt,202.50pt,0.75pt,0.00pt);
	}
.cc02               { /* Common */
	width           : 100%;
	height          : 100%;
	padding         :   7.50pt;
	border-width    :   0px;
	}
.cc03               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	}
.cc04               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	padding         :   1.50pt;
	}
.cc05               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc06               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc07               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	padding         :   1.50pt;
	}
.cc08               { /* Common */
	font            : italic bold 36pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}

div#e25             {
	position        : absolute;
	left            : 663.75pt;
	top             :  10.50pt;
	width           :  72.00pt;
	height          :  15.00pt;
	}
div#e24             {
	position        : absolute;
	left            : 663.75pt;
	top             :  25.50pt;
	width           :  72.00pt;
	height          :  15.00pt;
	}

input#e21           { /* Text q  */
	position        : absolute;
	left            :  62.25pt;
	top             :   4.50pt;
	width           : 135.75pt;
	height          :  18.00pt;
	}
input#e20           { /* Hidden as_sitesearch  */
	position        : absolute;
	left            : 133.50pt;
	top             :  36.00pt;
	width           :  65.25pt;
	}
form#f19            { /* mailto:your@address.here... */
	position        : absolute;
	left            : 228.75pt;
	top             : 360.75pt;
	width           : 123.75pt;
	height          :   8.25pt;
	}
legend#e18          { /* Registration */
	position        : absolute;
	left            :   2.25pt;
	top             :   2.25pt;
	width           : 135.00pt;
	height          :  17.25pt;
	}
form#f17            { /* mailto:your@address.here... */
	position        : absolute;
	left            : 379.50pt;
	top             : 360.00pt;
	width           : 115.50pt;
	height          :   8.25pt;
	}
legend#e16          { /* Forgot Password */
	position        : absolute;
	left            :   2.25pt;
	top             :   2.25pt;
	width           : 126.75pt;
	height          :  17.25pt;
	}
form#f15            { /* mailto:your@address.here... */
	position        : absolute;
	left            : 228.75pt;
	top             : 387.75pt;
	width           : 269.25pt;
	height          :  38.25pt;
	}
legend#e14          { /* PLEASE ENTER */
	position        : absolute;
	left            :   2.25pt;
	top             :  16.50pt;
	width           : 280.50pt;
	height          :  14.25pt;
	}
form#f13            { /* default.asp onsubmit="re... */
	position        : absolute;
	left            : 230.25pt;
	top             : 312.75pt;
	width           : 265.50pt;
	height          :  32.25pt;
	}
label#e12           { /* Name */
	position        : absolute;
	left            :  28.50pt;
	top             :   5.75pt;
	width           :  36.75pt;
	height          :  14.25pt;
	}
input#e11           { /* Text Name Name  */
	position        : absolute;
	left            :  63.00pt;
	top             :   2.25pt;
	width           : 120.75pt;
        height          :  20.00pt;
	}
label#e10           { /* Password */
	position        : absolute;
	left            :   9.75pt;
	top             :  27.75pt;
	width           :  50.25pt;
	height          :  15.00pt;
	}
input#e9            { /* Submit Send Details  */
	position        : absolute;
	left            : 195.00pt;
	top             :   6.50pt;
	width           :  79.50pt;
        height          :  35.00pt;/*Buton size*/
	}
input#e8            { /* Password password  */
	position        : absolute;
	left            :  63.00pt;
	top             :  25.00pt;
	width           : 120.75pt;
	height          :  20.00pt;
	}
div#e7              { /* W */
	
        position        : absolute;
	left            : 288.75pt;
	top             : -42.75pt;
	width           :  35.25pt;
	height          :  42.75pt;
	}
div#e6              { /* e */
	
        position        : absolute;
	left            : 324.75pt;
	top             : -42.75pt;
	width           :  24.00pt;
	height          :  42.75pt;
	}
div#e5              { /* l */
	
        position        : absolute;
	left            : 346.50pt;
	top             : -42.75pt;
	width           :  12.75pt;
	height          :  42.75pt;
	}
div#e4              { /* c */
	
        position        : absolute;
	left            : 358.50pt;
	top             : -42.75pt;
	width           :  24.00pt;
	height          :  42.75pt;
	}
div#e3              { /* o */
	
        position        : absolute;
	left            : 381.75pt;
	top             : -42.75pt;
	width           :  24.00pt;
	height          :  42.75pt;
	}
div#e2              { /* m */
	
        position        : absolute;
	left            : 405.75pt;
	top             : -42.75pt;
	width           :  33.75pt;
	height          :  42.75pt;
	}
div#e1              { /* e */
	
        position        : absolute;
	left            : 440.25pt;
	top             : -42.75pt;
	width           :  24.00pt;
	height          :  42.75pt;
	}
div#page            { /* Page Holder */
	
	
	position        : relative;
        background-size: 100% 100%;
        min-height: 700px;
	width           : 745.50pt;
	height          : 576.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
        
    	}
        button1 div.sociable {
display: block;
margin-left: auto;
margin-right: auto;

}    
        
        
        
body                { /* Page Body */
	background-image:url(images/survey001002.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
